{% extends "base.html" %}
{% block content %}
<h1>Admin</h1>
<div class="content">
    {% for customer in customers %}
        <div class="customer">
            <b>
                <p class="name">{{ customer.fullname }}</p>
            </b>
            <p>{{ customer.email }}</p>
            <p>{{ customer.phone }}</p>
            <p>{{ customer.resdate }}</p>
            <p>{{ customer.partysize }}</p>
            <p>{{ customer.restime }}</p>
            <p>Requested on {{ customer.created_at }}</p>
            <div class="bio">
                <h4>message</h4>
                <p>{{ customer.specialmessage }}</p>
            </div>
            <a href="/{{customer.id}}/editcustomer/">EDIT</a>
            <form method="POST"
                action="{{ url_for('delete', customer_id=customer.id) }}">
            <input type="submit" value="Delete Customer"
                onclick="return confirm('Are you sure you want to delete this booking?')">
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}