{% extends "base.html" %}
{% block content %}
</br>
<div class="container position-relative">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-body text-center p-sm-5">
                    <h2 class="font-weight-bold mb-3" style="margin-bottom: 20px;">Book a table!</h2>
                    <!-- <p style="color: red;">{{ error_statement }}</p> -->
                    <form method="POST">
                        <div class="mb-3">
                            <input class="form-control" type="text" id="name-2" name="fullname" placeholder="Name"
                                style="margin-bottom: 20px;">
                            <input class="form-control" type="email" id="email-2" name="email" placeholder="Email"
                                style="margin-bottom: 20px;">
                            <input class="form-control" type="tel" name="phone" placeholder="Telephone"
                                style="margin-bottom: 20px;">
                            <input class="form-control" type="date" name ="resdate" style="margin-bottom: 20px;">
                            <h5 class="text-left">Number in party:</h5>
                            <p class="text-left" style="color: rgba(83,88,92,0.7);font-size: 10px;">
                                If party is more than 6 please contact us for availability!</p>
                            <select class="form-control" name="partysize" style="margin-bottom: 20px;">
                                <option value="1" selected="">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <h5 class="text-left">Time:</h5>
                            <select class="form-control" name="restime" style="margin-bottom: 20px;">
                                <option value="10:00" selected="">10:00am</option>
                                <option value="10:30">10:30am</option>
                                <option value="11:00">11:00am</option>
                                <option value="11:30">11:30am</option>
                                <option value="12:00">12:00pm</option>
                                <option value="12:30">12:30pm</option>
                                <option value="13:00">1:00pm</option>
                                <option value="13:30">1:30pm</option>
                                <option value="14:00">2:00pm</option>
                                <option value="14:30">2:30pm</option>
                                <option value="15:00">3:00pm</option>
                            </select>
                            <textarea class="form-control" id="message-2" name="specialmessage" rows="4"
                                placeholder="Special request"></textarea>
                        </div>
                        <div><button class="btn btn-primary d-block w-100" type="submit"
                                style="background: rgb(219,142,44);border-style: none;border-radius: 10px;">Book
                                Table</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}