{% extends "base.html" %}
{% block content %}
<div class="container position-relative">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-body text-center p-sm-5">
                    <h2 class="font-weight-bold mb-3" style="margin-bottom: 20px;">Edit Customer</h2>
                    <form method="POST">
                        <div class="mb-3">
                            <input class="form-control" type="text" id="name-2" name="fullname" placeholder="Name" 
                            value={{ customer.fullname }} style="margin-bottom: 20px;">
                            <input class="form-control" type="email" id="email-2" name="email" placeholder="Email"
                            value={{ customer.email }} style="margin-bottom: 20px;">
                            <input class="form-control" type="tel" name="phone" placeholder="Telephone"
                            value={{ customer.phone }} style="margin-bottom: 20px;">
                            <input class="form-control" type="date" name ="resdate" style="margin-bottom: 20px;">
                            <h5 class="text-left">Number in party:</h5>
                            <select class="form-control" name="partysize" style="margin-bottom: 20px;">
                                <option value="1" selected="">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <h5 class="text-left">Time:</h5>
                            <select class="form-control" name="restime" style="margin-bottom: 20px;">
                                <option value="5:00" selected="">5:00pm</option>
                                <option value="5:30">5:30pm</option>
                                <option value="6:00">6:00pm</option>
                                <option value="6:30">6:30pm</option>
                                <option value="7:00">7:00pm</option>
                                <option value="7:30">7:30pm</option>
                                <option value="8:00">8:00pm</option>
                                <option value="8:30">8:30pm</option>
                                <option value="9:00">9:00pm</option>
                                <option value="9:30">9:30pm</option>
                                <option value="10:00">10:00pm</option>
                            </select>
                        </div>
                        <div><button class="btn btn-primary d-block w-100" type="submit"
                                style="background: rgb(219,142,44);border-style: none;border-radius: 10px;">Resubmit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}