{% extends "base.html" %}
{% block content %}

<div class="container py-4 py-xl-5" style="margin-bottom: -25px;">
    <div class="row" style="margin-bottom: -43px;margin-top: -24px;">
        <div class="col-md-6 mb-4">
            <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid tada animated w-100 fit-cover"
                    src="{{ url_for('static', filename='img/awfulwaffleimg.png') }}" style="margin-top: 6px;margin-bottom: -34px;"></div>
        </div>
        <div class="col-md-6 d-md-flex align-items-md-center mb-4">
            <div style="text-align: center;">
                <h2 class="text-uppercase font-weight-bold" style="text-align: center;font-size: 30px;">Welcome to the
                    awful waffle</h2>
                <p class="my-3" style="text-align: center;">Creating the best tasting naughty waffles since 2019</p><a
                    class="btn btn-primary btn-lg bounce animated mr-2" role="button" href="#"
                    style="font-size: 30px;text-align: center;font-family: 'Cabin Sketch', serif;background: rgb(219,142,44);border-style: none;border-radius: 9.8px;margin-top: 15px;">CALL
                    US</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}