{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto col-12 text-center mb-3">
                <h1 class="mt-0">Our Menu</h1>
                <p class="lead">Enjoy every bite our delicious, sweet waffles, or our savory waffles just as delicious for those who want something a little different! Some are on the traditional side, and others a bit naughty.  Perhaps you have a favorite, but how would you know without trying them all!</p>
            </div>
            <div class="col-12 mt-4">
                <h3 class="text-center">Fresh Squeezed Juice</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€8</span>
                    <h5 class="text-truncate">The Mean Green</h5>
                    <p class="small">Pineapple, Lime, Spinach, Cucumber, Apple, and Fresh Ginger</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€7</span>
                    <h5 class="text-truncate">The Nitty Gritty</h5>
                    <p class="small">Blackberries, Raspberries, Apple, Rosemary Infused Lemonade</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€7 </span>
                    <h5 class="text-truncate">The Orange Sip</h5>
                    <p class="small">Mandarin Oranges, Honey, Iced Tea, Melon</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€7</span>
                    <h5 class="text-truncate">The Prickly Pear</h5>
                    <p class="small">Pears, Apples, Carrots, lemon</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€7</span>
                    <h5>The Refreshed Root</h5>
                    <p class="small">Carrots, Parsnips, Celery, Parsley, Lemon</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€8</span>
                    <h5 class="text-truncate">The Red Rover</h5>
                    <p class="small">Rosemary Infused lemonade, Raspberries, Strawberries, Black Cherries</p>
                </div>
            </div>
            <div class="col-12 mt-4">
                <h3 class="text-center">Sweet</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€12</span>
                    <h5 class="text-truncate">The Classic Waffle</h5>
                    <p class="small">Two of our freshly made waffles, with whipped cream, a side of bacon (or fruit), fruit compote, and Vermont Maple Syrup!</p>
                    <span class="font-weight-bold small">Add marinara or tartar: $2</span>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€13</span>
                    <h5 class="text-truncate">The Bananarama</h5>
                    <p class="small">Two banana waffles, topped with whipped cream, and caramel!  It comes with your choice of bacon or fruit!</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€12</span>
                    <h5 class="text-truncate">Choco Waffo</h5>
                    <p class="small">Rich, chocolatey, delicious, crispy waffle! Topped with whipped cream, served with Vermont maple syrup and fruit compote!  Comes with a side of bacon or fruit!</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€11</span>
                    <h5 class="text-truncate">Puffs and Pop</h5>
                    <p class="small">Reese’s Puffs Cereal Waffles topped with fresh strawberries, blueberries, and Coca Cola syrup!</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€13</span>
                    <h5 class="text-truncate">Lay out the Red Velvet</h5>
                    <p class="small">Red Velvet waffles, topped with whipped cream, and maple syrup!  It comes with your choice of bacon or fruit! </p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€14</span>
                    <h5 class="text-truncate">Four-Fritter-bout it</h5>
                    <p class="small">Four small apple fritter waffles, topped with whipped cream, and apple maple syrup! It comes with your choice of bacon or fruit!</p>
                </div>
            </div>
            <div class="col-12 mt-4">
                <h3 class="text-center">Savory</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€16</span>
                    <h5 class="text-underline">The Bird Breakfast</h5>
                    <p class="small">Fried chicken and  two waffles, toped with shallots, spicy maple syrup, with a side of hashbrowns!</p>
                    <span class="font-weight-bold small"></span>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€14</span>
                    <h5>Weird Cubano</h5>
                    <p class="small">Two waffles with roasted pork shoulder, honey mustard sauce, and a side of coleslaw!</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€15</span>
                    <h5>Waffalaya</h5>
                    <p class="small"> Cornbread waffles, shrimp, chicken, andouille sausage, rice and traditional jambalaya vegetables and spices! Garnished with sweet red and yellow pepper confetti!</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€14</span>
                    <h5>Falafel Waffles</h5>
                    <p class="small">Falafel waffles with homemade hummus, tahini, and a spicy dip!</p>
                </div>
                <div class="card card-body">
                    <span class="float-right font-weight-bold">€12</span>
                    <h5>Poutiny Bit</h5>
                    <p class="small">Two waffles topped with french fries, cheese curds, and a brown gravy.</p>
                </div>
            </div>
            <div class="col-12 mt-4">
                <hr class="accent my-5">
            </div>
            <div class="col-6 mx-auto">
                <div class="card card-body text-center">
                    <h5 class="text-uppercase">Take home waffles!</h5>
                    <h5>Eight frozen waffles, ready to be heated up at home and server with you own toppings! Selection changes Daily!</h5>
                    <p class="small"> </p>
                    <span class="float-right font-weight-bold">€15</span>
                </div>
            </div>
            <div class="col-12 mt-5 border border-right-0 border-left-0">
                <div class="row">
                    <div class="col h5">The Awful Waffle</div>
                    <div class="col h5 text-right">+12-345-6789</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}